{{> header}}
<h1>Compose</h1>
<div >
    <form action="" method="post">
        <p><strong>Title</strong></p>
        <input type="text" name="journaltitle" id="journaltitle" style="width: 100%;">
        <br>
        <br>
        <p><strong>Journal</strong></p>
        <textarea name="journalbody" id="journalbody" cols="182" rows="10"></textarea>
        <br>
        <button type="submit">Publish</button>
    </form>
</div>

{{> footer}}